
/* NAVABAR */

.navbar{
    padding: 0 10%;
    background-color: #15110E !important; 
    text-transform: uppercase;
}

#navbarCoffeine{
    font-size: 55%;
}

.navbar-end .buttons a{
    font-size: 100%;    
}
.navbar-end .buttons .is-warning{
background-color: #E4CA7F;
width: 100%;
height: 40%;
}

/* ------------------- */

/* FAIXA 1 */

.banner .hero-body{
    background-image: url('../img/DSC_7230S.png');   
    background-repeat: no-repeat;  
    background-size: cover;}

.banner title{
    width: 30%;
    color: #000;
    font-weight: bold;
}

.banner .subtitle{
    width: 24%;
    color: #000;
    font-size: 90%;
}

.botao-padrao{
    background: linear-gradient(to right, #D5BC77 0%, #E4CA7F 51%);
    font-weight: bold;
}
.botao-padrao:hover{
    background: linear-gradient(to left, #D5BC77 0%, #E4CA7F 51%);
    font-weight: bold;
    transition: 1s;
    box-shadow: 0px 0px 5px 5px #D5BC77;
}

/* Telefones em paisagem e abaixo */
@media (max-width: 767px) { 
    .banner .title{
        width: 100%;
    }
    .banner .subtitle{
        width: 100%;
        color: #000;

    }

    .banner .hero-body{ 
        background-position: right -90px top 0px; 
    }
}


/* Tablet em retrato a paisagem e desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .banner .hero-body{ 
        background-position: right -150px top 0px; 
    }
}

/* Desktop grande */
@media (min-width: 1200px) {
    .banner .hero-body{ 
        background-position: right 0 top 0px; 
    }
}
/* FIM FAIXA 1 */

/* FAIXA 2 */

.banner2{
    background: #E2E2E1;
    background-image: url('../img/Grupo 378.png');
}

.banner2 .inferior p{
    padding-top: 5%;
}
.banner2 .inferior a{
    margin-top: 2%;
}

.cards{
    padding-top: 5%;
    width: 80%;
    margin: 0 auto;
    opacity: 0.8;
}

.card{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
}

.card .title{
    width: auto;
    color: #000;
    font-size: 160%;
}
.card .subtitle{
    padding-top: 10%;
    width: auto;
    color: #000;
    font-size: 80%;
}

.card .content{
    padding: 5%;
    height: 100%;
    min-height: 420px;
}

/* FIM FAIXA 2 */

/* FAIXA 3 */

.banner3{
    background: #D6BD73;

}

.banner3 .produto {
    padding-left: 15%;
}

.banner3 .content{
    margin-top: 30%;
}

.banner3 .content .subtitle{
    width: 90%;
    margin-top: 10%;
}

.banner3 .content .assinar{
    display: block;
    width: 60%;
}

/* Telefones em paisagem e abaixo */
@media (max-width: 767px) { 
    .banner3 .content{
        margin-top: 0;
    }

    .banner3 .produto {
        padding-left: 0;
    }
    
    .banner3 .title , .assinar{
        margin: 0 auto;
    }

    
}

/* FIM FAIXA 3 */

/* INICIO FAIXA 4*/

.faixa4{
    background-color: #15110E;
}

.faixa4 .content h1{
    width: 50%;
    margin: 0 auto;
}

.faq{
    padding-top: 5%;
    padding-bottom: 5%;
    width: 70%;
    margin: 0 auto;
}

.faq a {
    position: relative;
    display: flex;
    text-align: left;
    flex-direction: column;
    width: 100%;
    background-color: #31271D;
    padding: 1rem 3rem 1rem 1rem;
    color: #fff;
    font-size: 1.15rem;
    font-weight: 400;
    border-bottom: 1px solid #15110E;
  }
  
  .faq a:hover,
  .faq a:hover::after {
    cursor: pointer;
    color: rgb(211, 173, 134);
  }
  
  .faq a.active {
    color: rgb(211, 173, 134);
    border-bottom: 1px solid rgb(211, 173, 134);
  }
  
  .faq a::after {
    font-family: 'Ionicons';
    content: '+';
    position: absolute;
    float: right;
    right: 1rem;
    font-size: 1rem;
    color: #fff;
    padding: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
  }
  
  .faq a.active::after {
    font-family: 'Ionicons';
    content: '-';
    color: rgb(211, 173, 134);
  }
  
  .faq .content {
    opacity: 0;
    padding: 0 1rem;
    max-height: 0;
    background-color: #231C16;
    border-bottom: 1px solid #fff;
    overflow: hidden;
    clear: both;
    transition: all 0.2s ease 0.15s;
  }
  
  .faq .content p {
    font-size: 1rem;
    font-weight: 300;
    color: #fff;
  }
  
  .faq .content.active {
    opacity: 1;
    padding: 1rem;
    max-height: 100%;
    transition: all 0.35s ease 0.15s;
  }

/* Telefones em paisagem e abaixo */
@media (max-width: 767px) { 
    .faixa4 .faq{
        width: 100%;
        margin: 0 auto;
    }
    .faixa4 .content h1{
        width: 100%;
    }
    
}

/* FIM FAIXA 4 */

.footer .content{
    flex-wrap: wrap;
}

/* FAIXA 5 */

.faixa5{
    background-image: url('../img/Grupo 403.png');
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 767px) { 
    .faixa5{
        background-position: left -140px top 0px; 

    }
}



/* FIM FAIXA 5 */

/* FOOTER */

.footer{
    background-color: #E2E2E1;
}



.footer .content{
    margin-left: 0;

}

.footer .content a{
    position: relative;
    display: flex;
    text-align: left;
    flex-direction: column;
}

.footer .icons{
    margin-top: 30px;
}

.footer .input{
    width: 30%;
}
.footer .button{
    width: 10%;
}

/* FIM FOOTER */


/* -------------- */

