.navbar{
    padding: 0 10%;
    background-color: #15110E !important; 
    text-transform: uppercase;
}

#navbarCoffeine{
    font-size: 55%;
}

.navbar-end .buttons a{
    font-size: 100%;    
}
.navbar-end .buttons .is-warning{
background-color: #E4CA7F;
width: 100%;
height: 40%;
}

.banner .hero-body{
    background-image: url('../img/DSC_7230S.png');   
    background-repeat: no-repeat;  
    background-size:100%;  
}

.title{
    width: 30%;
    color: #000;
    font-weight: bold;
}

.subtitle{
    width: 24%;
    color: #000;
    font-size: 90%;
}

.conheca{
    background-image: linear-gradient(to right, #D5BC77 0%, #E4CA7F 51%);
    font-weight: bold;

}