/* BANNER */

@media (max-width: 767px) { 
    .banner .hero-body{
        background-image: linear-gradient(to bottom, rgba(255,255,255,0) 40%,rgba(255,255,255,1)), url('../img/mobile/DSC_7230.png');   
        background-repeat: no-repeat;  
        background-size: cover;
    }

    .banner .hero-body{
        height: 580px;
    }

    .banner .content{
        margin-top: 90%;
        text-align: center;
    }

    .banner .content .title{
        color: #000;
        font-size: 35pt;
    }
    .banner .content .button{
        width: 100%;
    }
    
    
}
@media (min-width: 767px) { 
    .banner .hero-body{
        background-image: url('../img/DSC_7230S.png');   
        background-repeat: no-repeat;  
        background-size: cover;
    }
}

/* FIM BANNER */

/* FAIXA 2 */
@media (max-width: 767px) { 
.banner2 .cards .content{
    display: flex;
}
.banner2 .cards{
    width: 100%;
}
.banner2 .cards .card .content{
    min-height: 120px;
    text-align: left;

}
.banner2 .cards .card .content .title{
    font-size: 95%;
    font-weight: bold;
}
.banner2 .cards .card .content .subtitle{
    font-size: 85%;
    padding-top: 0;
    font-weight: 300;

}

.banner2 .cards img{
    width: 30%;
    height: 30%;
    margin: 0 15px 0 0;
}
}

/* FIM FAIXA 2 */


/* FAIXA 5 */
@media (max-width: 767px) { 
.faixa5{
    background-image: url('../img/mobile/DSC_7199.png');
    background-repeat: no-repeat;
    background-size: 120% 110%;
    background-position: left -20px top 0px; 
    filter: sepia(50%) saturate(150%);
}

.faixa5 .title{
    font-size: 25pt;
}

}
@media (min-width: 767px) { 

.faixa5{
    background-image: url('../img/Grupo 403.png');
    background-repeat: no-repeat;
    background-size: cover;
}
}
/* FIM FAIXA 5 */