/* BANNER */

@media (max-width: 767px) { 
    .banner .hero-body{
        background-image: linear-gradient(to bottom, rgba(255,255,255,0) 40%,rgba(255,255,255,1)), url('../img/mobile/DSC_7230.png');   
        background-repeat: no-repeat;  
        background-size: cover;
    }

    .banner .hero-body{
        height: 580px;
    }

    .banner .content{
        margin-top: 90%;
        text-align: center;
    }

    .banner .content .title{
        color: #000;
        font-size: 35pt;
    }
    .banner .content .button{
        width: 100%;
    }
    
    
}
@media (min-width: 767px) { 
    .banner .hero-body{
        background-image: url('../img/DSC_7230S.png');   
        background-repeat: no-repeat;  
        background-size: cover;
    }
}

/* FIM BANNER */
/* FAIXA 3 */

@media (max-width: 767px) { 
    .faixa3_titulo_desktop{
        display: none;
    }

    .banner3 .subtitle{
        font-size: 100%;
        text-align: center;
    }

    .banner3 .button{
        width: 100% !important;
    }
}
@media (min-width: 767px) { 
    .faixa3_titulo_mobile{
        display: none;
    }
}

/* FAIXA 3 */